body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

h1, h2, h3 {
  font-weight: bold;
  color: #222;
}

.card {
  border-radius: 12px;
  padding: 20px;
  background: #e6e3f6;
  text-align: center;
}

.btn-primary {
  background-color: #de5d76;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
}
